.slide {  
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), linear-gradient(89.96deg, rgba(0, 0, 0, .7) .03%, transparent 58.88%);
    z-index: 1;
  }  
  .app-row {  
    left: 4em;
    gap: 2.5rem;
    .row-1 {
      font-size: var(--font-size--6x-large);
      font-weight: 600;
      font-family: var(--font-base);
      color: var(--color-white);
      line-height: 1.3;
    } 
    .row-2 {
      max-width: 32.5em;
      font-size: var(--font-size--medium);
      color: var(--color-grey--tint);
      line-height: 1.5;
    }
  }

  .btn-wrapper { 
    left: 4em;
    gap: 1.75em;
     
  }
}