<div class="slide">
  <img class="img" [src]="slide.imgBg" alt="">
  <div class="app-row">
    <span class="row-1">{{slide.title | translate}}</span>
    <span class="row-2">{{slide.describe | translate}}</span>
 
  </div>
  @if (slide.ctaUrlFirst || slide.ctaUrlSecond) {

    <div class="btn-wrapper flex">
      <a class="btn-1" target="_self" [href]="slide.ctaUrlFirst">
        <span class="mr-1">{{"RED_BUTTON_FIRST" | translate}}</span> 
        <fa-icon [icon]="faArrowRight"></fa-icon> 
      </a>
      <a class="btn-1 transparent" target="_self" [href]="slide.ctaUrlSecond">
        <span class="mr-1"> {{"WHITE_BUTTON_FIRST" | translate}} </span> 
        <fa-icon [icon]="faArrowRight"></fa-icon> 
      </a> 
    </div>
  }

</div>