<div class="text-gray-600 body-font">
  <div class="categories-container mx-auto">
    <div class="categories flex justify-around md:text-left order-first">
      @if(categories) {
        @for(category of categories|keyvalue; track category; let id=$index;) { 
          <div>   
            <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">{{category.key | translate}} </h2>
            <nav class="list-none mb-10">
              @for(item of category.value; let i=$index; track i) {
              <li>
                <a [routerLink]="'/detail/' + item.index  + i" class="text-gray-600 hover:text-primary">{{item.title | translate}}</a> 
              </li>
              }
            </nav> 
          </div>
        }
      }
      @if(imgContent) {
        @for(imgItem of imgContent; track imgItem) {
        <div>
          <app-info-card [slide]="imgItem" [cardConfig]="cardConfig" />
        </div>
        }
      }
    </div>
  </div>
</div>
<app-social-info />

 