 
:host {
  font-size: 16px;
  @media (max-width: 991px) {
    font-size: 10px;
  }
}

.taste {
  max-width: 1198px;
  width: 95%;
  margin: 7.5em auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  gap: 1rem;

  .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 38%;

    .header-first {
      margin-bottom: 1.5em;
      color: var(--color-black--tint);
      font-size: var(--font-size--large);
      font-weight: 600;
      line-height: 1;
    }

    .header-second {
      margin-bottom: 1.75em;
      color: var(--color-black--tint); 
      font-family: var(--font-base);
      font-weight: 700;
    }

    .text {
      margin-bottom: 2em;
      font-size: var(--font-base); 
      color: var(--color-grey);
      font-weight: 400;
    }
  }

  .card-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625em;
  }
}
.btn-1 { 
  padding: 1.125em 1em;
  color: var(--color-white);
  border-radius: 0.75em;
  transition: all .2s ease;
  cursor: pointer;
  border: 1px solid rgba(239, 58, 80, 0.5);
  background-color: transparent;
  color: var(--color-primary--dark);

  &:hover {
    border: 1px solid transparent;
    color: var(--color-white);
    background-color: var(--color-primary--dark);
  }
}