// :root {
//   --color-primary: #ef3a50;
//   --color-primary--dark: #d73448;
//   --color-white: #fff;
//   --color-dark: #02160e;
//   --color-main: #131412;
//   --color-black: #000;
//   --color-black--tint: #333;
//   --color-grey: #818087;
//   --color-grey--tint: #b7b7b7;
//   --color-grey--night: #efefef;
//   --color-grey--light: #f7f7f7;
//   --color-gray--border: #eaecf0;
//   --color-gray--bg: #f6f6f6;
//   --color-stone: #eff2f4;
//   --color-stone--light: #dbdbdd;
//   --color-pink: #fdebee;
//   --color-danger: #ed2929;
//   --color-success: #22d37e;
//   --color-warning: #e09e3a;
//   --color-light: #f6f6f6;
//   --font-base: HelveticaNeueLT,sans-serif;
//   --font-base--caps: HelveticaCaps,sans-serif;
//   --font-base--display: gdumbadze,sans-serif;
//   --font-icon--remixicon: "remixicon";
//   --font-size--7x-large: 4.375em;
//   --font-size--6x-large: 4em;
//   --font-size--5x-large: 3.625em;
//   --font-size--4x-large: 3em;
//   --font-size--3x-large: 2.375em;
//   --font-size--2x-large: 2em;
//   --font-size--large: 1.75em;
//   --font-size--4x-medium: 1.5em;
//   --font-size--3x-medium:  1.375em;
//   --font-size--2x-medium: 1.25em;
//   --font-size--medium: 1.125em;
//   --font-size--base: 1em;
//   --font-size--small: 0.875em;
//   --font-size--xsmall: 0.75em;
// }

:root {
  --color-primary: #ef3a50;
  --color-primary--dark: #d73448;
  --color-white: #fff;
  --color-dark: #02160e;
  --color-main: #131412;
  --color-black: #000;
  --color-black--tint: #333;
  --color-grey: #818087;
  --color-grey--tint: #b7b7b7;
  --color-grey--night: #efefef;
  --color-grey--light: #f7f7f7;
  --color-gray--border: #eaecf0;
  --color-gray--bg: #f6f6f6;
  --color-stone: #eff2f4;
  --color-stone--light: #dbdbdd;
  --color-pink: #fdebee;
  --color-danger: #ed2929;
  --color-success: #22d37e;
  --color-warning: #e09e3a;
  --color-light: #f6f6f6;
  --font-base: HelveticaNeueLT,sans-serif;
  --font-base--caps: HelveticaCaps,sans-serif; 
  --font-icon--remixicon: "remixicon";
  --font-size--7x-large: 70px;
  --font-size--6x-large: 64px;
  --font-size--5x-large: 58px;
  --font-size--4x-large: 48px;
  --font-size--3x-large: 38px;
  --font-size--2x-large: 32px;
  --font-size--large: 28px;
  --font-size--4x-medium: 24px;
  --font-size--3x-medium: 22px;
  --font-size--2x-medium: 20px;
  --font-size--medium: 18px;
  --font-size--base: 16px;
  --font-size--small: 14px;
  --font-size--xsmall: 12px
}