<div class="header-txt flex justify-around items-center h-full text-black-300">
  @for(item of headerList; track item; let index = $index) {
  <span #list (click)="handleActiveItem(item)" [class.active]="index == activeIndex" class="costm-item flex items-center h-full cursor-pointer font-regular">
    {{item.title | translate}}
  </span>
  }
  @if(activeHeaderContent) {
  <div class="feature-header">
    <app-feature-header-content [activeHeaderContent]="activeHeaderContent" />
  </div>
  }
</div>