.header-txt {
  gap: 5em;
  justify-content: space-around;
}

.feature-header {
  position: fixed;
  left: 0;
  width: 100vw;
  top: 100px;
  background-color: #fff;
}

.costm-item {
  position: relative;
  height: 100%;

  &.active {
    &::after { 
      transform: scaleX(1);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    transform: scaleX(0);
    background-color: var(--color-primary);
    transition: transform .2s ease;
  }
}

@media (max-width: 575px) {
  .header-txt {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    justify-content: flex-start;
  }
  .costm-item { 
    height: fit-content;
  }
}