<div class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex justify-around md:text-left text-center order-first">
      @if(list) {
        @for(item of list|keyvalue; track item; let id=$index;) {
          <div> 
            <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">{{item.key | translate}} </h2>
            <nav class="list-none mb-10">
              @for(value of item.value; let i=$index; track i) {
              <li>
                <a [routerLink]="'/detail/' + id + i" class="text-gray-600 hover:text-primary">{{value | translate}}</a>
                {{id}} {{i}}
              </li>
              }
            </nav>
          </div>
        }
      }
      @if(imgContent) {
        @for(imgItem of imgContent; track imgItem) {
        <div>
          <app-info-card [slide]="imgItem" [cardConfig]="cardConfig" />
        </div>
        }
      }
    </div>
  </div>
</div>
<app-social-info />

 