<div class="flex justify-around text-black pt-14">
  @if(list) {
    @for(item of list|keyvalue; track item) {
    <div class="flex flex-col">
      <div class="">
        {{item.key}} 
      </div>
      <div class="flex flex-col justify-between">
        @for(value of item.value; let i=$index; track i) {
        <span>{{value}}</span>
        }
      </div>
    </div>
    }
  }
  @if(imgContent) {
    @for(imgItem of imgContent; track imgItem) {
    <div>
      <app-info-card [slide]="imgItem" [cardConfig]="cardConfig" />
    </div>
    }
  }
</div>