<div class="slide">
    <img class="img" src="assets/img/wine-bg.jpg" alt="">
    <div class="app-row">
      <span class="row-1">{{"WINE_BG_TEXT_1" | translate}}</span>
      <span class="row-2">{{"WINE_BG_TEXT_2" | translate}}</span>
   
    </div>
    <div class="btn-wrapper flex">
      <a class="btn-1" target="_self" href="">
        <span class="mr-1">{{"WINE-RED_BUTTON_FIRST" | translate}}</span> 
        <fa-icon [icon]="faArrowRight"></fa-icon> 
      </a> 
    </div>
  
  </div>