 :host {
   font-size: 16px;

   @media (max-width: 991px) {
     font-size: 10px;
   }
 }

 .slide {
   position: relative;
   width: 100%;
   height: 33em;

   &::after {
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.5));
     z-index: 1;
   }

   .img {
     position: absolute;
     left: 0;
     top: 0;
     margin: auto;
     height: 100%;
     width: 100%;
     object-fit: cover;
   }

   .app-row,
   .btn-wrapper {
     position: absolute;
     z-index: 3;
     left: 15em;

     @media (max-width: 1198px) {
       left: 10em;
     }

     @media (max-width: 767px) {
       left: 4em;
     }
   }

   .app-row {
     top: 0;
     bottom: 0;

     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 1.5em;
     max-width: 49em;
     color: var(--color-white);

     .row-1 {
       font-size: var(--font-size--4x-large);
       font-family: var(--font-base);
       font-weight: 800;
       line-height: 1.2;
     }

     .row-2 {
       color: var(--color-white);
       font-size: var(--font-size--medium);
       font-family: var(--font-base);
       font-weight: 500;
       line-height: 1.4;
     }
   }

   .btn-wrapper {
     top: 78%;
     gap: 30px;

     .btn-1 {
       display: inline-flex;
       justify-content: center;
       align-items: center;
       padding: 18px 16px;
       color: var(--color-white);
       background-color: var(--color-primary);
       border-radius: 12px;
       transition: all .2s ease;
       cursor: pointer;
       border: 1px solid transparent;

       &.transparent {
         color: var(--color-white);
         background-color: transparent;
         border-radius: 12px;
         border: 1px solid hsla(0, 0%, 100%, .5);
       }

       &:hover {
         border: 1px solid rgba(239, 58, 80, 0.5);
         background-color: var(--color-primary--dark);
       }
     }
   }
 }