.text {
  max-width: 570px;
  width: 50%; 
  margin-left: 18%;
  span { 
    color: var(--color-black--tint);
    font-size: var(--font-size--2x-large);
    font-family: var(--font-base);
    font-weight: 300;
    line-height: 1.3; 
    &.bold { 
      font-size: var(--font-size--4x-large);
      font-weight: 700;
    }
  }
}