.seazon-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 60px 40px 0;
  // grid-template-columns: repeat(4, 1fr);
  app-info-card {
    display: inline;
    width: fit-content;
  }
}