<div class="flex flex-col w-full">
  <div class="p-2"> 
      <input type="text" id="name" name="name" placeholder="name..."
        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-gray-400 focus:bg-white focus:ring-2 focus:ring-transparent text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>
  <div class="p-2"> 
      <input type="email" id="email" name="email" placeholder="email..."
        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-gray-400 focus:bg-white focus:ring-2 focus:ring-transparent text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>
  <div class="p-2">  
      <textarea id="message" name="message" placeholder="Message... "
        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-gray-400 focus:bg-white focus:ring-2 focus:ring-transparent h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
    <!-- </div> -->
  </div>
  <div class="p-2">
    <button
      class="flex mx-auto text-white bg-primary border-0 py-2 px-8 focus:outline-none hover:bg-primary rounded text-lg">Button</button>
  </div>
   
</div>